.element__counter {
color: black;
width: 10px;
height: 13px;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 auto;
}


