.element__button {
  width: 25px;
  height: 19px;
  background-color: white;
  border: 0;
  background-image: url(../../../images/Group.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
  margin: 5px auto 6px auto;
  position: relative;
  padding: 0;
}

.element__button:hover {
  transition: opacity 0.3s; /* Добавляем плавный переход для изменения прозрачности */
  opacity: 0.5; /* Изменяем прозрачность при наведении */
}
